*~
.*.sw[nop]
\#*\#
.\#*

auto-save-list
cider-repl.history
recentf
ercpass
tramp
erc/log/
third-party/emacs-soap-client.hg
/url/cookies
eshell/history
eshell/lastdir
elpa/
.smex-items
places
projectile.cache
projectile-bookmarks.eld
ac-comphist.dat
ido.last
