secrets/
*~
.*.sw[nop]
\#*\#
.\#*

auto-save-list
cider-repl.history
recentf
ercpass
ercpass.el
tramp
erc/log/
third-party/emacs-soap-client.hg
/url/cookies
eshell/autojump
eshell/history
eshell/lastdir
elpa/
.smex-items
places
projectile.cache
projectile-bookmarks.eld
ac-comphist.dat
ido.last
.mc-lists.el
url
request
network-security.data
server
transient

.cache
*.extmap
