[submodule "third-party/rails-reloaded"]
	path = third-party/rails-reloaded
	url = https://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "third-party/emacs-soap-client"]
	path = third-party/emacs-soap-client
	url = git@github.com:cgore/emacs-soap-client.git
[submodule "tools/fast-export"]
	path = tools/fast-export
	url = git://repo.or.cz/fast-export.git
[submodule "third-party/ruby-electric"]
	path = third-party/ruby-electric
	url = git@github.com:qoobaa/ruby-electric.git
